.girassol-regular {
  font-family: "Girassol", serif;
  font-weight: 400;
  font-style: normal;
}

body, html {
  overflow-y: hidden;
}

body {
  font-family: "Girassol", sans-serif;
  background-image: url('bg2.jpg');
  font-size: 76px; 
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-left: 2vh; 
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

audio {
  position: absolute;
  top: 2%;
  right: 105%;
  width: 200px;
  height: 50px;
  background-color: rgba(0,0,0,0.7);
  border: 2px solid #ccc;
  border-radius: 80px;
  padding: 5px;
}

.slot-machine {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.message-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  text-align: center;
  display: none;
  color: red;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}

.display {
  display: grid;
  grid-template-columns: repeat(3, 200px); 
  justify-content: center;
  align-items: center;
  gap: 150px; 
  margin-right: 40px; 
}

.slot {
  width: 220px; 
  height: 210px; 
  border: 2px;
  margin-top: 50px; 
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 86px; 
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.controls {
  margin-top: 50px; 
  margin-right: 20px; 
  margin-bottom:290px;
}

.controls button {
  font-size: 34px; 
  padding: 0px 10px; 
  height: 50px; 
  background-color: grey;
  font-family: "Girassol", sans-serif;
}

#result, .balance-display {
  font-size: 38px;
  color: silver;
  position: absolute;
  top: 85%; 
  width: 80%;
  left: 10%;
  text-align: center;
}

input[type="number"], button {
  margin: 10px; 
  height: 40%;
  top: 9%;
  color: white;
  background-color: rgba(26, 24, 24, 0.9);
}

button {
  position: relative;
}

.handle {
  width: 10px; /* Set a fixed width for handle */
  height: 40px; /* Set a fixed height for handle */
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}